@use "../../abstract/constants" as c;
@use "../../abstract/colors" as color;
@use "../../abstract/mixins" as mixin;

$match-color: color.$pr0gramm-orange;

.match-of-user {
	&.with-image::before {
		width: 700px;
		height: 1000px;

		top: -2px;
		left: -30px;
	}

	&.with-image::before {
		@include mixin.mask-color(url("../../icons/heart.svg"), $match-color);
	}
}
