.git
.github
.deployment
Dockerfile*
**/node_modules
**/data
**/redis-data
**/build
**/.vscode
**/.env
**/.env.*
.editorconfig
*.tsbuildinfo
.*.pem
*.md
*.log
*.db
*.tsv
*.csv

*.js
*.js.map
!config-overrides.js

.*ignore
!.dockerignore

jobs
