@use "sass:math";
@use "../../abstract/constants" as c;

.circled {
	width: c.$unit * 5;
	aspect-ratio: 1 / 1;
	border-radius: c.$unit * 11;

	display: flex;
	justify-content: center;
	align-items: center;

	// font-weight: bold;

	background-color: var(--secondary-color);

	border: math.div(c.$unit, 3) solid var(--content-background-color);

	z-index: 2;
}
