// Ref for some colors:
// https://holzmaster.github.io/userscripts/eckdaten/

$pr0gramm-logo-orange: #d23c22;
$pr0gramm-orange: #ee4d2e;

$gray-0: #f2f5f4;
$gray-1: #888888;
$gray-2: #444444;
$gray-3: #2a2e31;
$gray-4: #222222;
$gray-5: #212121;
$gray-6: #161618;
$gray-lol: #202020;

$red-0: #ea9fa1; // Alt-Helfer
$red-1: #c52b2f; // Communityhelfer
$red-2: #e9070f;

// $orange-?: #f7c516
$orange-0: #ffc166;
$orange-1: #fc8833;
$orange-2: #ff9900;
$orange-3: #ee4d2e;
$orange-4: #d23c22;

$blue-0: #75c0c7;
$blue-1: #7fc7ff; // Alt-Mod
$blue-2: #008fff; // Mod

$green-0: #addc8d;
$green-1: #5bb91c;
$green-2: #5cb85c;
$green-3: #1cb992;

$muted-color: $gray-1;
$success-color: #5cb85c;
$fail-color: #c52b2f; // Maybe we can consider #d9534f
