.centered-page-status {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 40px 0 0 0;
}

.failed {
	color: var(--fail-color);
}

.must-complete-profile {
	text-align: center;

	.button {
		margin-top: 20px;
	}
}
